@model CurrencyConvertor.ViewModels.CurrencyModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:30px;">
    

    @using (Html.BeginForm("GetRate", "Home", FormMethod.Post, new { role = "form" })) {

        <!-- Value TextBox  -->
        <div class="row">
            <div class="form-group">
                <label>
                    Value:
                </label>
                    @Html.TextBoxFor(m => m.value1, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label>
                    From: 
                </label>
                    <!-- Currencies dropdown list -->
                    @Html.DropDownListFor(m => m.countryCode1, 
                    
                        <!-- Build a select list from the dictionary -->
                        new SelectList(Model.currencyDic, "Key", "Value.name"),

                        "- Please select your currency -",

                        new { @class = "form-control" }
                    )
            </div>

            <div class="col-sm-3">
                <label>
                    To:
                </label>
                    <!-- Currencies dropdown list -->
                    @Html.DropDownListFor(m => m.countryCode2, 
                    
                        <!-- Build a select list from the dictionary -->
                        new SelectList(Model.currencyDic, "Key", "Value.name"),

                        "- Please select your currency -",

                        new { @class = "form-control" }
                    )
            </div>
        </div>

        <button style="margin-top:30px;" type="submit" class="btn btn-primary">Convert</button>
        
    }

    
    <div class="row"  style="margin-top:30px;">
        
        <strong>Result:</strong>
        <span>
            <font size="6" style="color:teal">
                @Model.value2
            </font>
            <font size="3">
                @Model.countryCode2
            </font>
        </span></br>

        <strong>Exchange Rate:</strong>
        <span style="color:teal">@Model.exchangeRate</span></br>
    <div>

</div>
